# REUNIÓN 18 DE NOVIEMBRE- EMANUEL'S HOUSE

In [1]:
# Librería
import pandas as pd

In [7]:
asistentes = ['Joseph', 'Junot', 'Dani', 'Emanuel']
cant_asistentes = len(asistentes)
rappi = 64.9
licoreria = 79.5
pizza = 86.2

total = rappi + licoreria + pizza
cu = total / cant_asistentes

cuadro = pd.DataFrame(
    {
        'Asistentes': asistentes,
        'Rappi': [rappi / cant_asistentes] * cant_asistentes,
        'Licoreria': [licoreria / cant_asistentes] * cant_asistentes,
        'Pizza': [pizza / cant_asistentes] * cant_asistentes,
        'Monto_a_pagar': [cu] * cant_asistentes

    }
)

cuadro['Pago_a_Joseph'] = cuadro['Rappi'] + cuadro['Licoreria']
cuadro['Pago_a_Daniel'] = cuadro['Pizza']

cuadro

,Asistentes,Rappi,Licoreria,Pizza,Monto_a_pagar,Pago_a_Joseph,Pago_a_Daniel
0,Joseph,16.225,19.875,21.55,57.65,36.1,21.55
1,Junot,16.225,19.875,21.55,57.65,36.1,21.55
2,Dani,16.225,19.875,21.55,57.65,36.1,21.55
3,Emanuel,16.225,19.875,21.55,57.65,36.1,21.55